.createMessage{
    text-align: center;
    padding-top: 20px;
}
.createMessageForm  {
    display: flex;
    margin-bottom: 15px;
}
.title{
    margin: 20px;
}
.createMessage input{
    width: 100%;
    padding: 10px;
    font-size: 18px;
    outline: none;
    border:none;
    border-bottom: 2px solid gray;
    transform: 0.3s all ease;
}
.createMessage input:focus{
    border-color: green;
    transform: 0.3s all ease;
}

.createMessage button {
    padding: 5px;
    border:none;
    border-bottom: 2px solid gray;
    background: transparent;
    font-size: 18px;
    transform: 0.3s all ease;
    margin-left: 20px;
}

.createMessage button:hover{
    border-color: green;
    cursor: pointer;
    transform: 0.3s all ease;
}
.messageKey p{
    margin-bottom: 10px;
}

input.error {
    transform: 0.3s all ease;
    border-color: red;
}